:root {
  --color-bg-dark: #0a0021;
  --color-primary: #4e23fc;
  --color-accent: #ff5733;
  --color-light: #f5eeec;
  --color-text: #ffffff;
  --color-highlight: #ffea00;
  --color-secondary-bg: #804b4b;
  --color-secondary-text: #dec2bc;
} 