@import url('./variables.css');

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: var(--color-bg-dark);
    color: var(--color-text);
}

.logo-container img {
    max-width: 100px;
}

.title-container {
    text-align: center;
    flex-grow: 1;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: bold;
}

.benefits ul {
    list-style: none;
    padding: 0;
}

.benefits ul li {
    font-size: 18px;
    margin: 10px 0;
}

.benefits ul li i {
    margin-right: 10px;
    color: var(--color-accent); /* Ajustado para que coincida con el color del h2 en .hero */
}

.plan-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.plan-card {
    background: var(--color-light); /* Ajustado para que coincida con los elementos de la grilla de servicios */
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    text-align: center;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
}

.plan-card:hover {
    transform: scale(1.05);
}

.plan-card h3 {
    color: var(--color-accent); /* Ajustado para respetar la paleta */
    font-size: 22px;
}

plan-card h4 {
    font-size: 24px;
    color: var(--color-highlight);
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: var(--color-text);
}

.smm-benefits {
    background: var(--color-secondary-bg); /* Ajustado para coincidir con el fondo oscuro */
    color: var(--color-text);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

.smm-benefits h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--color-secondary-text);
}

.smm-benefits p {
    font-size: 18px;
    margin-bottom: 20px;
}

.benefits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.benefit-item {
    background: var(--color-primary); /* Ajustado para que encaje mejor */
    color: var(--color-light);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 45%;
}

.benefit-item i {
    font-size: 20px;
    color: var(--color-accent);
}